#item__detail {
    border: 1px solid black;
    border-radius: 2rem;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    text-align: center;
}

#item__img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

#item__title{
    font-size: 1.8rem;
    margin-top: 1.6rem;
}

.item__info{
    font-size: 1.6rem;
}

#addToCart {
    width: 150px;
    margin: 10px auto;
}

.div__item{
    display: flex;
    flex-direction: column;
}