
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');
/* font-family: 'Klee One', cursive; */
#navBar {
    background-color: rgb(223, 135, 73);
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    width: 100%;
    height: 200px;
}

#Logo {
    border-radius: 80px;
    max-width: 120px;
    max-height: 120px;

}
#tituloNav{
    font-size: 50px;
    font-family: 'Klee One', cursive;
    color: rgb(16, 244, 54);



}


li {
    list-style: none;
    font-size: 30px;
    color: rgba(0, 255, 68, 0.616);
    font-family: 'Klee One', cursive;
}

li:hover{
    color: white;
}

a {
    font-size: 20px;
    font-family: 'Klee One', cursive;
    color: darkgoldenrod;
}

#navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    position: relative;

    color: rgb(255, 255, 255);

}

.submenu {
    padding: 10px;
    visibility: hidden;
    position: absolute;
    color: rgb(249, 249, 249);
}

.submenu li {
    width: 100px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.menuItem:hover {
    font-weight: 700px;
    color: rgb(255, 255, 255);
}

.menuItem:hover .submenu {
    visibility: visible;
}

.fa-solid{
    font-size: 3rem;
    bottom: 2rem;
    margin-left: 500px;
}

.cartItems{
    font-size: 40px;
    margin-left: 0;
}