@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive; */
#Item__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    font-family: 'Bebas Neue', cursive
}

#item_list:hover{
    text-shadow: 0 0 0 2px rgb(0, 0, 0);
}